@model IEnumerable<BDTBaitaplon345.Models.Lop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKhoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenLop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaLop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaKhoa)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TenLop }) |
        @Html.ActionLink("Details", "Details", new { id = item.TenLop }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TenLop })
    </td>
</tr>
}

</table>
